:root {
  --bg-color: #F5F7FB;
}

.quizzical-game {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  background: var(--bg-color);
  margin: 0;
  color: #293264;
}

/* Intro Page */
.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80vh;
}

.game-intro h1 {
  font-family: Karla;
  font-weight: 700;
}



/* Game Page */
.question-text {
  font-family: Karla;
  font-weight: 700;
  margin-bottom: 0;
}

.answers-pane {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 10px;
}
.answer {
  font-family: Inter;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 1em;
}

.quiz-container {
  display: flex;
  flex-direction: column;
}

.btn-standard {
  margin-top: 1rem;
  align-self: center;
  font-family: Inter;
  font-size: 1.2rem;
  padding: 1em 1.2em;
  border-radius: 5px;
  border: none;
  background-color: #4D5B9E;
  color: white;
}


.tabulated-result {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
}